<template id="movie-details-template">
  <div class="movie-details">
    <h3 class="movie-title"></h3>
    <p><strong>Directed By:</strong> <span class="movie-director"></span></p>
    <p><strong>Produced By:</strong> <span class="movie-producer"></span></p>
    <p>
      <strong>Released On:</strong>
      <span class="movie-release-date"></span>
    </p>
    <p>
      <strong>Opening Crawl:</strong>
      <span class="movie-opening-crawl"></span>
    </p>
  </div>
</template>

<template id="planet-details-template">
  <div class="planet-details">
    <h3 class="planet-name"></h3>
    <p>
      <strong>Rotation Period:</strong>
      <span class="planet-rotation"></span>
    </p>
    <p><strong>Orbital Period:</strong> <span class="planet-orbital"></span></p>
    <p><strong>Diameter:</strong> <span class="planet-diameter"></span></p>
    <p><strong>Climate:</strong> <span class="planet-climate"></span></p>
    <p><strong>Gravity:</strong> <span class="planet-gravity"></span></p>
    <p><strong>Terrain:</strong> <span class="planet-terrain"></span></p>
    <p><strong>Population:</strong> <span class="planet-population"></span></p>
  </div>
</template>
